---
import { Image } from "astro:assets";

const valnored = "/images/valnored.png";
const spotlight = "/images/spotlight.png";
const projects = [
  {
    title: "Valnored",
    description:
      "Plataforma web de comercio digital para condominios y negocios locales de bajo stock.",
    techs: ["React", "Node/Express", "PostgreSQL"],
    image: valnored,
    link: "https://valnored.netlify.app/",
  },
  {
    title: "Spotlight Profiles",
    description:
      "Plataforma para crear portfolios web para desarrolladores juniors que prioriza simplicidad clara para generar portfolios web de manera ágil y estructurada.",
    techs: ["Next", "Nestjs", "PostgreSQL"],
    image: spotlight,
    link: "https://id-preview--0bbee29e-f0c8-494a-b9a5-749ddbc2afa2.lovable.app/",
  },
];
---

<article
  class="container mx-auto max-w-5xl flex items-center justify-evenly gap-10 text-white py-20 px-4"
>
  <section class="space-y-3">
    <h1
      class="text-xl sm:text-3xl text-green-400 font-semibold text-center pb-4"
    >
      PROYECTOS PRINCIPALES
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {
        projects.map((project) => (
          <div class="flex flex-col h-full space-y-4 p-2 outline outline-1 outline-neutral-800 rounded-md">
            <div class="h-52">
              <Image
                class="w-full h-full object-cover rounded-md"
                src={project.image}
                alt={`photo_${project.title}`}
                loading="eager"
                width={208}
                height={208}
              />
            </div>
            <div class="flex-1 flex flex-col justify-start space-y-2">
              <p class="text-xl font-semibold">{project.title}</p>
              <p class="text-neutral-400">{project.description}</p>
              <div class="flex gap-2 text-sm flex-wrap">
                {project.techs.map((tech) => (
                  <span class="bg-[#5F5E5E]/20 p-1 rounded-md leading-4 tracking-widest">
                    {tech}
                  </span>
                ))}
              </div>
            </div>
            <a
              href={project.link}
              class="bg-green-400 hover:bg-green-300 rounded-md w-full py-1.5 text-[#1b1d1c] font-medium inline-block text-center mt-auto"
              target="_blank"
              rel="noopener noreferrer"
            >
              Link Proyecto
            </a>
          </div>
        ))
      }
    </div>
  </section>
</article>
